{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block titulo %} {% endblock %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body style="background-image: url('{% static 'img/banner.jpg' %}'); 
           background-size: cover; 
           background-position: center; 
           background-repeat: no-repeat; 
           background-attachment: fixed;">
    <div>
        {% include 'navegacion.html' %}
    </div>
    <div>
        {% block contenido %}
        {% endblock %}
    </div>

    <footer>
        <div style="margin-top: 5%;" class="card bg-dark text-primary mb-3 p-3 text-center sticky-bottom">
            <h3>© Copyright >> Informatorio 2024 - Grupo 3 - Comisión 7 << </h3>
        </div>
    </footer>    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    {% comment %} <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> {% endcomment %}
</body>
</html>